# Spring Boot artifacts (no longer used)
.gradle
build
out
gradlew
gradlew.bat
gradle
build.gradle
settings.gradle
src/main/java
src/test

# Node.js
node_modules
dist

# Docker
Dockerfile

# Git & IDE
.git
.DS_Store
.idea
*.iml

# Logs
*.log

# Env
.env
.env.*
